body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table.mainTable {
  margin-left: 20px;
  margin-right: 20px;
  border: thin solid black;
  border-collapse: collapse;
}

th, td {
  width: 200px;
  height: 35px;
  border: thin solid black;
  padding: 5px;
}

